<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "View my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.published.count, "micropost") %>
</span>