<%- microposts.each do |micropost| -%>
	<li id="<%= micropost.id %>">
		<%= link_to gravatar_for(micropost.user), micropost.user %>
	   	<span class="user">
	       	<%= link_to micropost.user.name, micropost.user %>
	   	</span>
		<span class="content"><%= micropost.content %></span>
		<span class="timestamp">
		   	Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	   	</span>
	   	<% if current_user.admin? && !current_user?(micropost.user) %>
	       	<%= link_to "Approve", approve_micropost_path(micropost), method: :put unless micropost.approved? %> | 
	       	<%= link_to "Reject", reject_micropost_path(micropost), method: :delete, data: { confirm: "You sure?" }, title: micropost.content %>
	   	<% end %>
	</li>
<%- end  -%>
<%= will_paginate microposts %>