<% if @pending_microposts.any? %>
	<h3>Pending</h3>
	<%= render "index", microposts: @pending_microposts  %>
<% end %>

<% if @published_microposts.any? %>
	<h3>Published</h3>
	<%= render "index", microposts: @published_microposts  %>
<% end %>